/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUENTE GENERAL */
body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #f4f6f9;
    color: #222;
    line-height: 1.6;
}

/* CONTENEDOR GENERAL */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* ENCABEZADO */
.header {
    background: #1a1a1a;
    color: white;
    padding: 60px 0 50px;
    text-align: center;
}

.header h1 {
    font-size: 38px;
    letter-spacing: 1px;
}

.header h2 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: normal;
    color: #bbb;
}

.header p {
    margin-top: 15px;
    font-style: italic;
    color: #aaa;
}

.header-container {
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 50px 20px;
}

/* Imagen */
.profile-img img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px black;
}

/* Info derecha */
.header-info h1 {
    font-size: 38px;
    margin-bottom: 6px;
    margin-left: 45px;
    margin-top: -5px;
}

.header-info h2 {
    font-size: 18px;
    font-weight: normal;
    color: #ccc;
}

/* Responsive */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }
}


/* SECCIONES GENERALES */
.section {
    background: white;
    margin: 30px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.05);
}

.section h3 {
    margin-bottom: 15px;
    font-size: 22px;
    border-bottom: 2px solid #1a1a1a;
    display: inline-block;
    padding-bottom: 5px;
}

/* SOBRE MÍ */
.about p {
    margin-top: 15px;
    font-size: 17px;
}

/* CONTACTO */
.contact ul {
    list-style: none;
    margin-top: 15px;
}

.contact li {
    margin-bottom: 8px;
    font-size: 16px;
}




/* FORMACIÓN / PROYECTOS (items) */
.item {
    margin-top: 20px;
}

.item h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.item span {
    font-size: 14px;
    color: gray;
}

.item p {
    margin-top: 8px;
}

/* HABILIDADES */
.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skills-list li {
    background: #1a1a1a;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    margin: 5px;
    font-size: 14px;
}

/* OBJETIVO */
.objective p {
    margin-top: 15px;
    font-size: 17px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 25px;
    font-size: 14px;
    color: #555;
}

/* RESPONSIVE PARA CELULARES */
@media (max-width: 768px) {
    .header h1 {
        font-size: 28px;
    }

    .header h2 {
        font-size: 16px;
    }

    .section {
        padding: 20px;
    }

    .skills-list {
        flex-direction: column;
    }

    .skills-list li {
        width: fit-content;
    }
}
